# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Android & Gradle Build files
build/
.gradle/
out/
release/
.cxx/
.externalNativeBuild/

# Android Studio / IntelliJ IDEA
*.iml
.idea/*
!.idea/icon.png
!.idea/copyright
!.idea/codeStyles/
!.idea/runConfigurations/
!.idea/dictionaries/
.navigation/
captures/

# Local configurations (Must not be in Version Control)
local.properties
keystore.properties
gradle/gradle-daemon-jvm.properties

# Built application files
*.apk
*.ap_
*.aab

# Java, Kotlin & Android runtime files
*.dex
*.class
.kotlin/

# Log Files
*.log
output.json

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
lint/reports/

# Native blobs
# core/recognition/src/main/jniLibs/*
*.so